/* La Boda */
@media (min-width: 676px) and (max-width: 991px) {
	.wedding {
		.timeline-grid {
			.row {
				.column {
					&.with-image {
						img {
							max-width: 400px;
							margin: 15px auto 0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.ui.stackable.grid:not(.vertically) > .row {
	    margin-left: 35px;
		border-left: 2px solid #FF9D9A;
	}

	.ui.grid > .row > [class*="eight wide"].column {
		width: 100% !important;
	}
	
	.wedding {
		.timeline-grid {
			.row {
				.column {
					border: none !important;

					&.left {
						&:not(.with-content) {
							left: -100%;
						}
					}

					&.right {
						&:not(.with-content) {
							left: 0;
						}
					}

					&.with-content {
						padding-right: 0 !important;
						padding-left: 20px !important;
					}

					&:not(.with-content) {
						position: absolute;
						top: 0;
					}

					.event-time {
						.icon-box {
							.time {
								display: none;
								visibility: hidden;
							}
						}
					}

					.event-wrapper {
						margin-left: 30px;

						.ctime {
							display: inline-block;
							visibility: visible;
							padding-left: 5px;
						}

						&:after {
							left: -14px;
						    position: absolute;
						    z-index: 2;
						    content: '';
						    top: 29px;
						    background-color: #FFF;
						    width: 14px;
						    height: 14px;
						    -webkit-transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
						    transition: background-color .1s ease,opacity .1s ease,color .1s ease,box-shadow .1s ease;
						    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
						    transform: translateY(-50%) translateX(50%) rotate(-45deg);
						}
					}

				}
			}
		}
	}

}


@media only screen and (max-width: 768px) {
	.sm-hidden {
		display: none !important;
		visibility: hidden;
		opacity: 0;
	}

	.signatures-list {
		.items {
			.signature-item {
				.content {
					.description {
						margin-left: 0;
					}
				}
			}
		}
	}

	#root {
		.content-wrapper {
			.countdown-wrapper {
				.wedding-countdown {
					.countdown-text {
						padding-left: 0;

						.counter-box {
							padding: 0 5px;
							font-size: 10px;
							
							.count {
								font-size: 20px;
							}
						}
					}
				}
			}


			.page {
				&.notfound {
					.container {

						img {
							max-width: 100%;
						}

						.notfound-msg {
							max-width: 100%;
							text-align: center;
							padding-top: 20px;
							padding-left: 0;
							font-size: 34px;
							line-height: 38px;
						}
					}
				}
			}

		}

	}
}

@media only screen and (max-width: 500px) {
	#root {
		.footer {
			.site-data {
				.menu {
					.item {

						&:not(:first-of-type) {
							a {
								padding: 0;
							}
						}

						&:not(:last-of-type) {
							a {
								border: none;
							}
						}
					}
				}

				.grid {
					.social {
						.column {
							a {
								text-align: center;
								display: block;

								.icon {
									display: block;
									margin: 0 auto;
								}
							}
						}
						
					}
				}

			}
		}
	}
}


