@import "semantic/semantic";
@import "carousel";
@import "carousel_main";
@import "pages/boda";

$primary_color: #f4645f;

#root {
	.container {
		padding-bottom: 20px;
	}
	
	.borderless {
		border: none;
		box-shadow: none;
	}

	.mt-10 {
		margin-top: 10px;
	}

	.segment {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.inline {
		display: inline-block;
	}

	.main-header {
		height: 400px;
		background: #000 url("/img/selfies/portada_akiles.jpg") 50% 26% no-repeat;
		background-size: cover;
	}


	.content-wrapper {
		padding-top: 0;

		a {
			color: $primary_color;
		}

		.countdown-wrapper {
			padding-top: 0;

			.wedding-countdown {
				text-align: center;
				border-radius: 0;
				background: $primary_color;

				.progressbar-container {
					width: 100px;
					height: 100px;
					vertical-align: -190%;

					.progressbar-text {
						color: #FFB4B2 !important;
					}
				}

				.countdown-text {
					padding-left: 15px;

					.counter-box {
						text-align: center;
						color: #FFB4B2;
						letter-spacing: 2px;
						font-size: 11px;
						padding: 0 10px;

						p {
							margin: 0; 
						}

						.count {
							font-size: 26px;
						}

						.label {
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}

	.perlita-signature {
		border: none;
		box-shadow: none;
		background: none;
		text-align: right;

		.content {
			width: auto;
		    border-bottom: 1px solid $primary_color;
		    display: inline-block;
		    padding-bottom: 3px;

		    .author {
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #999;
				vertical-align: bottom;
				font-size: 12px;
			}
			

			.icon {
				margin: 0;
				font-size: 60px;
				-ms-transform: rotate(10deg); /* IE 9 */
			    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
			    transform: rotate(10deg);
			}
		}
	}

	.footer {
		margin: 0;
		padding: 20px 0;
		border: none;
		border-radius: 0;
		background: #333;
		border-top: 2px solid $primary_color;
		overflow: auto;

		.site-data {
			float: left;

			.site-name, a {
				color: #999;
			}

			.menu {
				height: 20px;

				.item {
					padding: 0;

					&:not(:first-of-type) a {
						padding-left: 10px;
					}

					&:not(:last-of-type) a {
						border-right: 1px solid #999;
					}

					&:hover a {
						color: $primary_color;
					}

					a {
						padding: 0 10px 0 0;
					}
				}
			}
		}

		.perlita-signature {
			float: right;
			margin-top: 0;
			padding-top: 0;

			.icon {
				color: $primary_color;
			}
		}
		
	}
}