@import "semantic/semantic";

#root {
	.main-header {
		height: 400px;
		background: #000 url("/img/selfies/akiles.jpg") 50% 26% no-repeat;
		background-size: cover;

		.borderless {
			border: none;
			box-shadow: none;
		}
	}
}