@import "semantic/semantic";
@import "carousel";
@import "carousel_main";
@import "pages/boda";
@import "pages/signatures";

$primary_color: #f4645f;

.modals {
	.modal {
		&.login-modal {
			.content {
				.button {
					margin-top: 10px;
				}
			}
		}
	}
}


#root {
	.container {
		padding-bottom: 20px;
	}

	.main-menu {
		.container {
			padding: 0;

			>.menu {
				display: flex;

				.item {
					padding: 0;

					> a {
						&:not(.button) {
							padding: 13px 16px;
							display: block;
						}
					}

					>.button {
						&.userinfo {
							font-size: 0.95em;
							padding: 5px 10px;

							img {
								margin-right: 1em;
							}
						}
					}

					&.brand {
						font-size: 35px;
						transform: rotate(10deg);

						&:hover {
							background: transparent;
						}
					}
				}

			}
		}

		&.standard {
			.container {
				>.menu {
					.item {
						> a {
							&:not(.button) {
								color: #fff;
							}
						}

						&:hover, &.active {
							background: darken($primary_color, 15%);
						}

						>.button {
							&.userinfo {
								font-size: 0.95em;
								padding: 5px 10px;
								border: none;
								box-shadow: none !important;
							}
						}

						&.brand {
							&:hover {
								background: transparent;
							}
						}
					}
				}
			}
		}

		&.home-menu {
			background: rgba(0,0,0,0.5);

			.container {
				>.menu {
					.item {
						&:hover {
							background: rgba(255, 255, 255, 0.15);
							cursor: pointer;
						}

						>.button {
							&.userinfo {
								margin: -44px 0 0;
							}
						}

						&.brand {
							color: $primary_color;

							&:hover {
								background: transparent;
							}
						}
					}
				}
			}
		}

		&.mobile-menu {
			>.menu {
				.item {
					&.brand {
						padding: 10px;
						font-size: 35px;
						transform: rotate(10deg);

						&:hover {
							background: transparent;
						}
					}

					&.dropdown-menu {
						padding-left: 0;

						.menu {
							margin-top: 5px;
						}
					}
				}
			}
		}
	}

	.borderless {
		border: none;
		box-shadow: none;
	}

	.mt-10 {
		margin-top: 10px;
	}

	.mt-15 {
		margin-top: 15px;
	}

	.segment {
		border-bottom: 0;
		padding-bottom: 0;

		.presentation {
			padding-top: 20px;
		}

		.selfies {
			padding-bottom: 15px;

			.cards {
				.card {
					.content {
						padding: 0.5em 1em;
					}
				}
			}
		}
	}

	.inline {
		display: inline-block;
	}

	.main-header {
		height: 700px;
		background: #000 url("/img/selfies/portada_akiles.jpg") 50% 26% no-repeat;
		background-size: cover;
	}


	.content-wrapper {
		padding-top: 0;

		a:not(.button) {
			color: $primary_color;
		}

		.page {
			padding-top: 85px;

			&.notfound {
				.container {
					padding: 40px 0 80px;
					text-align: center;

					img {
						display: inline-block;
						max-width: 30%;
					}

					.notfound-msg {
						display: inline-block;
						font-size: 50px;
						line-height: 54px;
						padding-left: 50px;
						text-transform: uppercase;
						max-width: 50%;
						text-align: left;
						vertical-align: middle;
					}
				}
			}
		}

		&.home {
			.page {
				padding-top: 0;
			}
		}

		.countdown-wrapper {
			padding-top: 0;

			.wedding-countdown {
				padding-bottom: 10px;
				text-align: center;
				border-radius: 0;
				background: $primary_color;

				.progressbar-container {
					width: 100px;
					height: 100px;
					vertical-align: -190%;

					.progressbar-text {
						color: #FFB4B2 !important;
					}
				}

				.countdown-text {
					padding-left: 15px;
					vertical-align: sub;

					.counter-box {
						text-align: center;
						color: #FFB4B2;
						letter-spacing: 2px;
						font-size: 11px;
						padding: 0 10px;

						p {
							margin: 0;
						}

						.count {
							font-size: 26px;
						}

						.label {
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}

	.perlita-signature {
		border: none;
		box-shadow: none;
		background: none;
		text-align: right;

		.content {
			width: auto;
			border-bottom: 1px solid $primary_color;
			display: inline-block;
			padding-bottom: 3px;

			.author {
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #999;
				vertical-align: bottom;
				font-size: 12px;
			}


			.icon {
				margin: 0;
				font-size: 60px;
				-ms-transform: rotate(10deg); /* IE 9 */
				-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
				transform: rotate(10deg);
			}
		}
	}

	.footer {
		margin: 0;
		padding: 20px 0;
		border: none;
		border-radius: 0;
		background: #333;
		border-top: 2px solid $primary_color;
		overflow: auto;

		.site-data {
			float: left;

			.site-name, a {
				color: #999;
				margin: 0;
			}

			.menu {
				padding-top: 5px;
				margin: 0;
				display: block;
				min-height: 5px;

				&.ui {
					border-bottom: 1px solid rgba(237,237,237,0.22);
					padding-bottom: 10px;
				}

				.item {
					padding: 0;
					display: inline-block;

					&:not(:first-of-type) a {
						padding-left: 10px;
					}

					&:not(:last-of-type) a {
						border-right: 1px solid #999;
					}

					&:hover a {
						color: $primary_color;
					}

					a {
						padding: 0 10px 0 0;
					}
				}
			}

			.grid {
				padding: 10px 0 0;

				.social {
					.column {
						padding-right: 0;
						
						a {
							&:hover {
								color: $primary_color;
							}
						}
					}
					
				}
			}
		}

		.perlita-signature {
			float: right;
			margin-top: 0;
			padding-top: 20px;

			.icon {
				color: $primary_color;
			}
		}

	}
}

@import "responsive";